<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sieve.HR</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/themes/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/themes/plugins/jquery-ui/jquery-ui.min.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/themes/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/themes/dist/css/adminlte.min.css">
    <!-- Pace Js <Auto Detected Loading Animation> -->
    <script data-pace-options='{ "ajax": false }' src="~/themes/sev/pace.min.js"></script>
    <link rel="stylesheet" href="~/themes/sev/minimal.css">
    <!-- Upper Case -->
    <link rel="stylesheet" href="~/themes/sev/site.css">
</head>
<body class="hold-transition layout-top-nav">
    <noscript>Please enable JavaScript to work with the Application</noscript>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="~/themes/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">HER HR</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Organization</a>
                            <ul aria-labelledby="organizationMenu" class="dropdown-menu border-0 shadow">
                                <li><a href="~/Admin/Company" class="dropdown-item">Company</a></li>
                                <li><a href="~/Admin/Department" class="dropdown-item">Department</a></li>
                                <li><a href="~/Admin/Section" class="dropdown-item">Section</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Emp</a>
                            <ul aria-labelledby="EmpMenu" class="dropdown-menu border-0 shadow">
                                <li><a href="~/Admin/EmpDetail" class="dropdown-item">Emp Details</a></li>
                                <li><a href="~/Admin/EmpEducation" class="dropdown-item">Emp Education</a></li>
                                <li><a href="~/Admin/EmpRef" class="dropdown-item">Emp Referances</a></li>
                                <li><a href="~/Admin/EmpSalary" class="dropdown-item">Emp Salary</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="~/Admin/Designation" class="dropdown-item">Designation</a></li>
                                <li><a href="~/Admin/EduType" class="dropdown-item">Education Type</a></li>
                                <li><a href="~/Admin/SalaryType" class="dropdown-item">Salary Type</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Attendance</a>
                            <ul aria-labelledby="EmpMenu" class="dropdown-menu border-0 shadow">
                                <li><a href="~/Admin/HolidayCalender" class="dropdown-item">Holiday Calender</a></li>
                                <li><a href="~/Admin/LeaveType" class="dropdown-item">Leave Type</a></li>
                                <li><a href="~/Admin/AttendanceSheet" class="dropdown-item">Emp Attendance Sheet</a></li>
                                <li><a href="~/Admin/EmpLeaveApp" class="dropdown-item">Emp Leave Application</a></li>
                                <li><a href="~/Admin/EmpLeaveBalance" class="dropdown-item">Emp Leave Balance</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">Emp Duty</a></li>
                                <li><a href="~/Admin/DutyRoster" class="dropdown-item">Duty Roster</a></li>
                                <li><a href="~/Admin/EmpRoster" class="dropdown-item">Emp Roster</a></li>
                                <li><a href="~/Admin/EmpJob" class="dropdown-item">Emp Job</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a href="~/Admin/EmpPaySlip" class="dropdown-item">Emp Pay Slip</a></li>
                                <li><a href="~/Admin/EmpPaySlipDetail" class="dropdown-item">Emp Pay Slip Details</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- SEARCH FORM -->
                    <form class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-8">
                            <div id="topBar"></div>
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                                <li class="breadcrumb-item active">Top Navigation</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/themes/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/themes/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/themes/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/themes/dist/js/adminlte.min.js"></script>

    <script src="~/themes/plugins/jquery-validation/jquery.validate.min.js"></script>

    <!-- Loading Overlay -->
    <script src="~/themes/sev/loadingoverlay.min.js"></script>


    <!-- AdminLTE for demo purposes -->
    @*<script src="~/themes/dist/js/demo.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        //Sweet Alert
        @Html.Raw(TempData["msg"]);
        $('#topBar').load("/Home/TopBar");
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".confirm-item").click(function (e) {
                e.preventDefault();
                var thisObj = $(this);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, do it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: thisObj.attr("data-url"),
                            data: { id: thisObj.data("param") },
                            success: function (response) {
                                if (response.success) {
                                    thisObj.parents("tr").remove();
                                    Swal.fire({ title: "Success!", text: response.messages, icon: "success", button: "Ok!" });
                                } else {
                                    Swal.fire({ title: "Failed!", text: response.messages, icon: "error", button: "Ok!" });
                                }
                            },
                            failure: function (response) {
                                Swal.fire({ title: "Failed!", text: response.messages, icon: "error", button: "Ok!" });
                            },
                            error: function (response) {
                                Swal.fire({ title: "Failed!", text: response.messages, icon: "error", button: "Ok!" });
                            }
                        });
                    }
                });
            });
        })
    </script>
</body>
</html>
